<form method="POST" action="/form">
  <div class="form__title">
    <h2>Task create</h2>
  </div>
  <input
    type="text"
    name="title"
    autocomplete="off"
    placeholder="Please, enter a title."
  />
  <div class="message"><%- include ("../message.ejs") %></div>
  <input type="submit" value="Submit" autocomplete="off" />
</form>
